extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel="stylesheet", href="/stylesheets/style.css")

block body
    +navbar("Colenso", "dropdown_menu")
        +nav_item("/") Home
        +nav_item("/browse_page") Browse
        +nav_item("/submit_page", "active") Submit
    block image
        img.center-block(src='/images/logo.jpg')

    .container.center-text
        form(action="/save", method="post", enctype="multipart/form-data")
            input.col-sm-5.btn.btn-default(type="file", name="file")
            .col-sm-2
            button.col-sm-5.btn.btn-default(action='submit', style = 'max-width: 100px') Submit

